@model INTEXII_App.Models.FieldBook

@{
    ViewData["Title"] = "Details";
}

<br />
<h1>Field Book Details</h1>



@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Details";
}

<!-- View details not available on the index page -->

<br />
<div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {

        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.FieldBookId">Edit Field Book Details</a>
        <br />
        <br />
    }
    <hr />

    <table class="table table-hover table-striped">
        <th>Details</th>
        <th></th>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Description)</td>
            <td><textarea rows="10" readonly>@Html.DisplayFor(model => model.Description)</textarea></td>


        </tr>
    </table>


</div>

<a class="btn btn-primary"
   style="position: fixed; right: 2rem; bottom: 2rem; z-index: 100;"
   asp-controller="FieldBook"
   asp-action="Index">Back to List</a>