@model IEnumerable<INTEXII_App.Models.FieldBook>
@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Index";
}

<divHeader>
    <link href="~/DynamicTable/StyleSheet.css" rel="stylesheet" />
</divHeader>
<br />


<div class="container">
    <h2>Field Books</h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">@Html.DisplayNameFor(model => model.Name)</div>
            <div class="col col-2">@Html.DisplayNameFor(model => model.Description)</div>
            <div class="col col-7"></div>

        </li>
        @foreach (var item in Model)
        {
            <li class="table-row">
                <div class="col col-1" data-label="@Html.DisplayNameFor(model => model.Name)">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="col col-2" data-label="@Html.DisplayNameFor(model => model.Description)">@Html.DisplayFor(modelItem => item.Description)</div>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Researcher"))
                {
                    <div class="col col-7" data-label="">
                        <a asp-action="Edit" asp-route-id="@item.FieldBookId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.FieldBookId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.FieldBookId">Delete</a>
                    </div>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.FieldBookId">Details</a>
                }
            </li>
        }


    </ul>
</div>

@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Researcher"))
{
    <a class="btn btn-primary"
       style="position: fixed; right: 2rem; bottom: 2rem; z-index: 100;"
       asp-controller="FieldBook"
       asp-action="Create">Add Record</a>
}