@model IEnumerable<INTEXII_App.Models.Burial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BurialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialDepth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthCm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClusterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviouslySampled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SexBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SexGiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeFunctionTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SouthToHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SouthToFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EastToHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EastToFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NorthToHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NorthToFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WestToHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WestToFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasilarSuture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentralArc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubPubicAngle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SciaticNotch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubicBone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreaurSulcus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedialIpramus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorsalPitting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForemanMagnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemurHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HumerusHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osteophytosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubicSymphysis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoneLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedialClavicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IliacCrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemurDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humerus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemurLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HumerusLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TibiaLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Robust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupraorbitalRidges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrbitEdge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalBossing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gonian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NuchalCrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZygomaticCrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CranialSuture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumCranialLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasionBregmaHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasionNasion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasionProsthionLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BizygomaticDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasionProsthion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecimalerorbitalBreadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreservationIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftTissueTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoneTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextileTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionOfTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtifactFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateLivingStature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothAttrition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothEruption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathologyAnomalies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpiphysealUnion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Byusample)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyAnalysisYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkullAtMagazine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostcraniaAtMagazine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToBeConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkullTrauma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CribiaOrbitala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoroticHyperotosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoroticHyperotosisLocations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetopicSuture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ButtonOsteoma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostcraniaTrauma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OsteologyUnknownComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TmjOa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinearHypoplasiaEnamel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaHillBurials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tomb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialPreservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialWrapping)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialAdultChild)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialGenderMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeCodeSingle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceBundle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOnSkull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Square)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BurialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthCm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClusterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviouslySampled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexGiles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeFunctionTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SouthToHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SouthToFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EastToHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EastToFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NorthToHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NorthToFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WestToHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WestToFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasilarSuture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentralArc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubPubicAngle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SciaticNotch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubicBone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreaurSulcus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedialIpramus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DorsalPitting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForemanMagnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemurHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HumerusHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osteophytosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubicSymphysis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoneLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedialClavicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IliacCrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemurDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humerus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemurLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HumerusLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TibiaLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Robust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupraorbitalRidges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrbitEdge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalBossing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gonian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NuchalCrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZygomaticCrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CranialSuture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumCranialLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumCranialBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasionBregmaHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasionNasion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasionProsthionLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BizygomaticDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasionProsthion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumNasalBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DecimalerorbitalBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreservationIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftTissueTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoneTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextileTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtifactFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateLivingStature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothAttrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothEruption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathologyAnomalies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpiphysealUnion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Byusample)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyAnalysisYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkullAtMagazine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostcraniaAtMagazine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToBeConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkullTrauma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CribiaOrbitala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoroticHyperotosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoroticHyperotosisLocations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetopicSuture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButtonOsteoma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostcraniaTrauma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsteologyUnknownComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TmjOa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinearHypoplasiaEnamel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaHillBurials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tomb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialPreservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialWrapping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialAdultChild)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialGenderMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeCodeSingle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaceBundle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOnSkull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.Area1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Square.BurialLocationEw)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BurialId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BurialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BurialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
