@model BurialListViewModel

@{
    ViewData["Title"] = "Index";
}


<div style="height:700px; overflow:scroll;">
    <table class="table">
        <thead>
            <tr>
                <th>Burial ID</th>
                <th>Area</th>
                <th><a asp-action="Create">Add Record</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Burials)
            {
                <tr>
                    <td>
                        @Model.Squares.Where(x => x.SquareId == item.SquareId).FirstOrDefault().LowPairNs/@Model.Squares.Where(x => x.SquareId == item.SquareId).FirstOrDefault().HighPairNs
                        @Model.Squares.Where(x => x.SquareId == item.SquareId).FirstOrDefault().BurialLocationNs

                        @Model.Squares.Where(x => x.SquareId == item.SquareId).FirstOrDefault().LowPairEw/@Model.Squares.Where(x => x.SquareId == item.SquareId).FirstOrDefault().HighPairEw
                        @Model.Squares.Where(x => x.SquareId == item.SquareId).FirstOrDefault().BurialLocationEw
                    </td>
                    <td>@Model.Areas.Where(x => x.AreaId == item.AreaId).FirstOrDefault().Area1</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BurialId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BurialId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BurialId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        position: sticky;
        top: -2px;
        background-color: white;
    }
</style>


