@model List<UserRole>

@{
    var roleId = ViewBag.roleId;
}

<!--View to add or remove users from a given role-->
<br />
<div class="text-center">
    <h2>Add/Remove Users</h2>
</div>
<br />
<form method="post">
    <div class="card">
        <div class="card-header">
            Use the checkboxes to add users to or remove users from this role
        </div>
        <div class="card-body">
            <!--Looping through each UserRole to display user and a checkbox, which will be passed to controller-->
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model[i].IsSelected" class="form-check-label">
                        @Model[i].UserName
                    </label>
                </div>
            }
        </div>
        <!--Div to cancel-->
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>
