@model IEnumerable<IdentityRole>


@if (Model.Any())
 {
    <div class="text-center">
        <br />
        <h1 class="">Website Administration Roles</h1><br />
        <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
           asp-controller="administration">Add new role</a><br /><br />
        <table class="table">

            <tr>
                <th>Role ID</th>
                <th>Role Name</th>
                <th>Edit/Delete</th>
            </tr>

            @foreach (var role in Model)
            {
                <tr>
                    <td width="300">@role.Id</td>
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                            <a class="btn btn-primary" style="width:auto" asp-action="EditRole" asp-controller="Administration"
                               asp-route-id="@role.Id">Edit</a>
                            <button type="submit" href="#" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to delete role: @role.Name?')">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }

        </table>
    </div>
    }


else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="CreateRole">
                Create role
            </a>
        </div>
    </div>
}