@model INTEXII_App.Models.Square

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Square</h1>

<h3>Are you sure you want to delete this?</h3>
<form asp-action="Delete">
    <input type="hidden" asp-for="SquareId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-success">No, Go Back</a>
</form>
<div>
    <br />
    <hr />
    <table class="table table-hover table-striped">
        <th>Details</th>
        <th></th>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LowPairNs)</td>
            <td>@Html.DisplayFor(model => model.LowPairNs)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HighPairNs)</td>
            <td>@Html.DisplayFor(model => model.HighPairNs)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LowPairEw)</td>
            <td>@Html.DisplayFor(model => model.LowPairEw)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HighPairEw)</td>
            <td>@Html.DisplayFor(model => model.HighPairEw)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.BurialLocationNs)</td>
            <td>@Html.DisplayFor(model => model.BurialLocationNs)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.BurialLocationEw)</td>
            <td>@Html.DisplayFor(model => model.BurialLocationEw)</td>

        </tr>
    </table>

    

    <a class="btn btn-primary"
       style="position: fixed; right: 2rem; bottom: 2rem; z-index: 100;"
       asp-controller="Square"
       asp-action="Index">Back to List</a>
</div>
