@model INTEXII_App.Models.Square
@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Square Details</h1>
<br />
<div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {

        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.SquareId">Edit Square Details</a>
        <br />
        <br />
    }
    <hr />

    <table class="table table-hover table-striped">
        <th>Details</th>
        <th></th>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LowPairNs)</td>
            <td>@Html.DisplayFor(model => model.LowPairNs)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HighPairNs)</td>
            <td>@Html.DisplayFor(model => model.HighPairNs)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LowPairEw)</td>
            <td>@Html.DisplayFor(model => model.LowPairEw)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HighPairEw)</td>
            <td>@Html.DisplayFor(model => model.HighPairEw)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.BurialLocationNs)</td>
            <td>@Html.DisplayFor(model => model.BurialLocationNs)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.BurialLocationEw)</td>
            <td>@Html.DisplayFor(model => model.BurialLocationEw)</td>

        </tr>
    </table>


</div>

<a class="btn btn-primary"
   style="position: fixed; right: 2rem; bottom: 2rem; z-index: 100;"
   asp-controller="Square"
   asp-action="Index">Back to List</a>
