@model INTEXII_App.Models.BiologicalSample

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BiologicalSample</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleRack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleRack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleBag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleBag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviouslySampled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviouslySampled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burial.BurialId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BiologicalSampleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
