@model INTEXII_App.Models.Artifact
@inject SignInManager<ApplicationUser> signInManager;

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Artifact Details</h1>
<br />
<div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {

        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.ArtifactId">Edit Artifact Details</a>
        <br />
        <br />
    }
    <hr />

    <table class="table table-hover table-striped">
        <th>Details</th>
        <th></th>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Description)</td>
            <td>@Html.DisplayFor(model => model.Description)</td>

        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Burial)</td>
            <td>@Html.DisplayFor(model => model.Burial.BurialId)</td>

        </tr>
    </table>


</div>

<a class="btn btn-primary"
   style="position: fixed; right: 2rem; bottom: 2rem; z-index: 100;"
   asp-controller="Artifact"
   asp-action="Index">Back to List</a>