@model INTEXII_App.Models.Artifact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artifact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviouslySampled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviouslySampled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialDepth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialDepth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area.EorW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuadrantCardinality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuadrantCardinality.Cardinality)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArtifactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
